<a href="https://colab.research.google.com/github/19522531/CS114.L21/blob/main/Colab/b%C3%A0i%20to%C3%A1n%20Sarcasm%20detection%20in%20news%20headline/Report_crawl_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1><center>Báo cáo thu thập dữ liệu</h1>

1. Nhóm thực hiện.
- Hoàng Xuân Vũ - 19522531
- Nguyễn Đạt Huy Hoàng - 19521536
- Nguyễn Văn Tài - 19522154 
2. Lựa chọn trang báo

- Các trang châm biếm: 
    -  NewsBiscuit -  [http://www.newsbiscuit.com/]
    -  The True North Times -  [http://www.truenorthtimes.ca/]
    -  The Betoota Advocate -  [http://betootaadvocate.com/]
- Các trang chính thống:
    - The News York Times - [https://www.nytimes.com/]
    - EuroNews - [https://www.euronews.com/]
    - NationalPost - [https://nationalpost.com/]
3. Source code thực hiện crawl dữ liệu:

[https://colab.research.google.com/drive/1VHehiDAjaCeyFvgIjWwDeKsc-jS-T2DK#scrollTo=XvcAEG-4d3wH]

4. Kết quả sau khi thu thập dữ liệu.

In [ ]:
import pandas as pd

In [ ]:
#Các trang báo châm biếm
A1 = pd.read_csv("/content/BetootaAdvocate.csv")
A2 = pd.read_csv("/content/NewsBiscuit.csv")
A3 = pd.read_csv("/content/TheTrueNorthTime.csv")

In [ ]:
#Các trang báo chính thống
B1 = pd.read_csv("/content/euronews.csv")
B2 = pd.read_csv("/content/TheNewYorkTimes.csv")
B3 = pd.read_csv("/content/NationalPost.csv")

In [ ]:
pd.concat([A1,A2,A3], ignore_index=True)

       Unnamed: 0  ... is_sarcastic
0               0  ...            1
1               1  ...            1
2               2  ...            1
3               3  ...            1
4               4  ...            1
...           ...  ...          ...
16236        1003  ...            1
16237        1004  ...            1
16238        1005  ...            1
16239        1006  ...            1
16240        1007  ...            1

[16241 rows x 4 columns]

In [ ]:
pd.concat([B1,B2,B3], ignore_index=True)

       Unnamed: 0  ... is_sarcastic
0               0  ...            0
1               1  ...            0
2               2  ...            0
3               3  ...            0
4               4  ...            0
...           ...  ...          ...
87809        9995  ...            0
87810        9996  ...            0
87811        9997  ...            0
87812        9998  ...            0
87813        9999  ...            0

[87814 rows x 4 columns]

#Nhận xét:
- Số lượng article châm biếm chênh lệch nhiều so với số lượng article các trang chính thống.
- Tuy nhiên tổng số lượng dữ liệu >100000 rows thì vẫn có thể dùng để train model cho bài toán Sarcasm detection in news headline